body {
  background-color: #0cbeeb;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 100px;
}

h1 {
  font-size: 48px;
}
.virgen{
  color: #029ef5
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;
}
